NET "CLK_50MHZ"       LOC = "C9"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;
OFFSET = IN  10.000 VALID 20.000 BEFORE "CLK_50MHZ" ;
OFFSET = OUT 20.000 AFTER "CLK_50MHZ" ;

NET "LED<0>"        LOC = "F12"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<1>"        LOC = "E12"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<2>"        LOC = "E11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<3>"        LOC = "F11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<4>"        LOC = "C11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<5>"        LOC = "D11"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<6>"        LOC = "E9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LED<7>"        LOC = "F9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "VGA_BLUE"      LOC = "G15"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_GREEN"      LOC = "H15"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_RED"      LOC = "H14"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_HSYNC"     LOC = "F15"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VGA_VSYNC"     LOC = "F14"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

# Top J1 accessory header
NET "AUD_L"         LOC = "B4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "AUD_R"         LOC = "A4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

# Bottom J2 accessory header
NET "AUX_AUD_L"     LOC = "A6" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "AUX_AUD_R"     LOC = "B6" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "MIDI_RS232_DCE_RXD" LOC = "E7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "MIDI_RS232_DCE_TXD" LOC = "F7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "PS2_CLK"      LOC = "G14"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_DATA"     LOC = "G13"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "BTN_SOUTH"     LOC = "K17"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;

NET "RS232_DCE_RXD" LOC = "R7"  | IOSTANDARD = LVCMOS33 ;
NET "RS232_DCE_TXD" LOC = "M14"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;


